@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body{
    font-family:"Inter", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.sidebar{
    background-color: #040D52;
    height:725px;
    width: 250px;
    color: white;
    padding: 20px;  
 
}
.left-container{
    background-color: #040D52;
    height: 100vh;
    width: 16.6vw;
}
.logo{
    font-size: 24px;
    font-weight: bold;
    width: 250px;
    height: 98px;
    color: black;
    border-radius: 8px;
    text-align: center;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 24px;
}
.left-container img{
    width: 10rem;
    margin-left: 3.5rem;
    margin-top: 2.5rem;
}
.list-items{
    color: aliceblue;
    /* margin-left:3.5rem ; */
    margin-top: 2.5rem;
}
.menu {
    list-style-type: none;
    line-height: 1px;
    margin-left: 1rem;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.menu li {
    display: flex;
    align-items: center; 
    padding: 10px 0;
    width: 80%;  
    transition: background-color 0.3s ease, transform 0.3s ease;
    height: 30%;
    border-radius: 20px;
}

.menu img {
    width: 1rem;
    height: 1rem;   
    margin-top: -2px;
    margin: 10px;
    margin-left: 3.5rem;
}

.menu li:hover {
    background-color: white;
    color: #F78F25;
    border-radius: 20px;
    width: 80%;
    cursor: pointer;
    transition: 0.5s;
}
.menu li:hover img {
    background-color: #F78F25;
}

.menu li.active {
    background-color: white;
}
.container {
    display: flex;
}
.rightside{
    height:765px;
    width:82%;
}
.rightside h1{
    margin-left: 25px;
    margin-top: 5%;
    font-weight: 400;
    font-size: 40px;
}
.rightside h6{
    margin-left: 25px;
    margin-top: -10px;
    color: #756464;
    font-size: 15px;
    font-weight: 300;
}
.display_container{
    width: 75%;
    height: 500px;
    background-color: #D9D9D9;
    margin-left: 25px;
}
.display_container table{
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}
thead td{
    padding: 15px;
}
tbody tr td{
    padding: 5px;
}